$foreground: rgb(38, 38, 38);
$background: #ffff;
$light-grey: #e6e6e6;

$primary: #1269f3;
$secondary: #f39c12;
$secondary_light: #f39d1281;
$secondary_dark: #e49311;



$borders: #777;
$icons: $secondary;

$input_height: 5rem;
$input_padding: 1rem;

@mixin roundBorders() {
    border: .1rem solid $borders;
    border-radius: 1rem;
}

@mixin boldText() {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

@mixin fadeInAnimation() {  
    animation: fadeIn 1s both;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
}
@mixin fadeInOutAnimation() {  
    animation: fadeInOut 2s infinite;
    @keyframes fadeInOut {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
}