.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  align-items: center;
  background-color: rgb(230, 230, 230);

  .title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 1.5rem 0;
    text-transform: capitalize;
  }



  .content {
    color: rgb(45, 45, 45)
  }

  .no-results {
    font-size: 3rem;
    color: red;
  }










}