@import "./common";

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $foreground;


  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 52rem;
    height: 69rem;
    background-color: $background;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding-top: 4rem;
    @include roundBorders();

    &__title {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: $font-size_md;
      font-weight: $font-weight_medium;
      margin: 2rem 0;
      letter-spacing: $letter_spacing_md;
      color: $secondary;
      @include fadeInAnimation();

      &.selected-city {
        color: $foreground;
      }
    }

    .weather-placeholder-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 12rem 0;

      svg {
        height: 24rem;
        color: $secondary_light;
      }
    }

    ;

    .weather-container {
      margin-top: 8rem;

      .tabs {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: $font-size_lg;
        letter-spacing: $letter_spacing_lg;
        margin: 0 3rem;
        height: $input_height;


        &__tab {
          height: 100%;
          width: 16.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          text-align: center;
          font-weight: 400;
          cursor: pointer;
          transition: all 400ms ease-in-out;

          &:hover {
            color: $secondary;
            border-bottom: .5rem solid $secondary;
          }

          &--active {
            background-color: $secondary;
            color: $background;
            cursor: default;
  
            &:hover {
              color: $background;
              border-bottom: none;
            }
          }
        }

      }

      .weather-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: $font-size_md;
        margin: 2rem 0;

        &__day {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 1rem 0 2rem 0;
          flex: 1;
          @include fadeInAnimation();

          &__description {
            margin-bottom: .4rem;
            max-width: 21rem;
          }

          &__date {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 10rem;
            padding: .7rem;
            background-color: $light-grey;
            text-transform: uppercase;
            font-weight: $font-weight_medium;
            margin-right: 2rem;

            div:first-of-type {
              font-weight: $font-weight_bold;
              font-size: 1rem;
              letter-spacing: .1em;
              line-height: 2rem;
            }

            div:nth-of-type(2) {
              font-weight: $font-weight_medium;
              font-size: 1.1rem;
              letter-spacing: .2rem;
              margin-top: -.2rem;
            }

            div:last-of-type {
              font-weight: $font-weight_light;
              font-size: $font-size_md;
              letter-spacing: .3rem;
              margin-top: -.3rem;
            }

          }

          &__date-temperature {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 21rem;
            font-size: $font-size_md;

            div:not(:last-child) {
              margin-right: 2.5rem;
            }
          }

          svg {
            margin-right: 1rem;
            color: $secondary;
          }
        }
      }

    }
  }


}