/* https://meyerweb.com/eric/tools/css/reset/ */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Titillium Web', sans-serif;
}

input, select, button {
  font-family: inherit;

}